<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel="import" type="text/css" href="../../webos-components/webos-toolbar/t.html">
<link rel="import" type="text/css" href="../../webos-components/webos-desktop/t.html">
<link rel="import" type="text/css" href="../../webos-components/webos-apps/t.html">

<dom-module id="webos-x">
  <template>
    <style>
      :host {
        display: block;
        height: 100vh !important;
        width: 100% !important;
        background-color: white;
        overflow: hidden;
      }
    </style>

    <webos-toolbar></webos-toolbar>
    <webos-desktop></webos-desktop>
    <webos-apps id="appLists"></webos-apps>

  </template>
  <script src="t.js"></script>
</dom-module>
