<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" type="text/css" href="../../webos-components/webos-app-icon/t.html">

<dom-module id="webos-dock-panel">
  <template>
    <style>
      :host {
        display: block;
        visibility: hidden;
      }

      div#main {
        min-width: 25%;
        height: 7.5%;
        background-color: black;
        opacity: 0.4;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 38%;
        z-index: 100;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
      }
    </style>

    <div id="main">
      <dom-repeat items="[[apps]]">
        <template>
          <webos-app-icon name$="[[item.name]]" icon$="[[item.icon]]"></webos-app-icon>
        </template>
      </dom-repeat>
    </div>

  </template>
  <script src="t.js"></script>
</dom-module>
