<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" type="text/css" href="../../webos-components/webos-toolbar-clock/t.html">

<dom-module id="webos-toolbar">
  <template>
    <style>
      :host {
        display: block;
        top: 0;
        height: 3%;
        background-color: black;
        box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 5px 5px rgba(0,0,0,0.15);
      }
    </style>

    <!-- ... -->
    <webos-toolbar-clock></webos-toolbar-clock>
    <!-- ... -->

  </template>
  <script src="t.js"></script>
</dom-module>
