<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" type="text/css" href="../../webos-components/webos-app-icon/t.html">

<dom-module id="webos-apps">
  <template>
    <style>
      @import url('t.css');
    </style>

    <div id="main">
      <webos-app-icon icon="..."></webos-app-icon>
      <webos-app-icon icon="..."></webos-app-icon>
      <webos-app-icon icon="..."></webos-app-icon>
      <webos-app-icon icon="..."></webos-app-icon>
      <webos-app-icon icon="..."></webos-app-icon>
      <webos-app-icon icon="..."></webos-app-icon>
      <webos-app-icon icon="..."></webos-app-icon>
    </div>

  </template>
  <script src="t.js"></script>
</dom-module>
